*
{
  color: white;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: auto;

  /* margin-top: ;
  the margin top pushes the logo down by 10 pixels*/
  border-radius: 50%;;
}

.container {
  list-style: none;
  display: flex;
  background-color: brown;
  font-size:16px;
  border-radius: 30px;
}

.items {
  padding-right: 30px;
  padding-top: 15px;
}

.items a {
  color: azure;
  text-decoration: none;

}

.items a:hover {
  color: yellow;
}

.header
{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/static/back.jpg);
  background-position: center;
  background-size: cover;
  postiton: relative;

}
