.logo {
  width: 50px;
  height: 50px;
  margin-right: auto;

  /* margin-top: ;
  the margin top pushes the logo down by 10 pixels*/
  border-radius: 50%;;
}

.container {
  list-style: none;
  display: flex;
  background-color: brown;
  font-size:30px;
  border-radius: 30px;
}

.items {
  padding-right: 30px;
  padding-top: 5px;
}

.items a {
  color: azure;
  text-decoration: none;

}

.items a:hover {
  color: yellow;
}


#dashboard
{
  display: grid;
  border: solid red;
  border-radius: 5px;
  grid-template-areas:
    "nav main"
    "nav main"
    "nav main";
  height: 100vh; /*1vh = 1% of viewport height OR 1fr = to take the remaining space*/
  width: 100%;

  grid-template-rows:80px 1fr ; /*set ROW height for the 1st ROW = 80px (row:(-)), row height for the 1st (column (|))*/
                                /*in our case we have no '1st row, we only have 2 columns*/
  grid-template-columns:250px 1fr; /*now, set COLUMN width for the 1st COLUMN = 250px *, n 2nd COLUMN to tkae the remaining space (1fr)*/
                                  /*250px is nav width (nav=1st column)*/
}

/*now set the sepcs for respecting grid elements?(nav? main?)*/

nav
{
  border: ridge blue;
  grid-area: nav;
}

main
{
  border: solid green;
  grid-area: main;
}