.center
{
    text-align: center;
}

#dashboard
{
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main main"
        "nav main main";
    height: 100vh;
    width: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr;
}

nav{
    text-align: center;
    border: solid red;
    border-radius: 30px;
    grid-area: nav;
}

header{
    background: violet;
    grid-area: header;
    margin: 10px;
}

main{
    grid-area: main;
    border: solid green;
    border-radius: 100px;
    margin:1%;
    padding:3%;
}