<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Jaewon Hungary</title>
    <link rel="stylesheet" href="/static/styles3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="sub-header">
    <nav>

        <a href="/test4">
            <img src="/static/jaewon.png">
        </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <!--below to add anchor to make nav links clickable-->
                <li><a href="/test4">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                {% if session["user_id"] %}
                    <li><a class="hero-btn" href="/">Chatroom</a></li>
                    <li><a class="hero-btn" href="/logout">Logout Here</a></li>
                {% else %}
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/login">LOG IN</a></li>
                {% endif %}
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <h1>About Us</h1>

</section>

<!-----------------------------About Us Content--------------------------------->

<section class="aboutus">

    <div class="row">

        <div class="aboutus-col">
            <h1>Ada banyak variasi tulisan Lorem Ipsum yang tersedia</h1>
            <p> Ada banyak variasi tulisan Lorem Ipsum yang tersedia, tapi kebanyakan sudah mengalami perubahan bentuk,
                entah karena unsur humor atau kalimat yang diacak hingga nampak sangat tidak masuk akal. Jika anda ingin
                menggunakan tulisan Lorem Ipsum, anda harus yakin tidak ada bagian yang memalukan yang tersembunyi di tengah naskah tersebut.
                Semua generator Lorem Ipsum di internet cenderung untuk mengulang bagian-bagian tertentu.
                Karena itu inilah generator pertama yang sebenarnya di internet. Ia menggunakan kamus perbendaharaan yang terdiri dari 200 kata Latin,
            </p>
            <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>

        <div class="aboutus-col">
            <img src="/static/About2.jpg">
        </div>

    </div>

</section>




<!------------------------------Footer------------------------------------->

<section class="footer">
    <h2>About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="icons">

        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <p>Made with <i class="fa fa-heart-o"></i> By : Ammad Bin Jamil</p>
    </div>
</section>



<!--------------------------------------JavaScript for Toggle Menu---------------------------------------------->
<!--created new var in JS with same name(navLinks) as the id in HTML-->

<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right ="0";
    }

    function hideMenu(){
        navLinks.style.right ="-200px";
    }

</script>

</body>
</html>