{% extends "layout.html" %}

{% block title %}: Chatroom{% endblock %}

{% block main %}

<h1> Chatroom </h1>

<table class="table">
    <thead>
        <tr>
            <td>Name:</td>
            <td>Message:</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td rowspan="2">{{ username }}</td>
            <td>{{ total_messages }}</td>
        </tr>

        <tr>
            <td>eh</td>
        </tr>

        <tr>
            <td rowspan="2">Ammad</td>
            <td>Hello</td>
        </tr>

        <tr>
            <td>Hello</td>
        </tr>
    </tbody>
</table>


<form action="/message" method="post" class="login-form">
    <div> <!--div - input will create username and password box on top-->
        <input required class="namenpass-box" type="text" placeholder="Message" name="message" id="message">
    </div>
    <div>
        <button class="hero-btn submit-btn" type="submit" name="submit">Send Message</button>
    </div>
</form>

{% endblock %}