{% extends "layout.html" %}

{% block title %}: Chatroom{% endblock %}

{% block main %}

<h1> Chatroom </h1>

<table class="table">
    <th>User</th>
    <th>Message</th>
    <th>Time</th>

    {% for row in rows %}
        <tr>
            <td>{{ row["username"] }}</td>
            <td>
                {{ row["message"] }}
            </td>
        </tr>
    {% endfor %}

</table>


<form action="/message" method="post" class="login-form">
    <div> <!--div - input will create username and password box on top-->
        <input required class="namenpass-box" type="text" placeholder="Message" name="message" id="message">
    </div>
    <div>
        <button class="hero-btn submit-btn" type="submit" name="submit">Send Message</button>
    </div>
</form>

</div>

{% endblock %}