<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta charset="utf-8">
    <title>Jaewon Hungary</title>
    <link rel="stylesheet" href="/static/styles3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="login-header">
    <nav>

        <a href="test4.html">
            <img src="/static/jaewon.png">
        </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <!--below to add anchor to make nav links clickable-->
                <li><a href="test4.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="register.html">REGISTER</a></li>
                <li><a href="login.html">LOG IN</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <h1>Employee's Log In Page</h1>


    <form class="login">
        <div> <!--div - input will create username and password box on top-->
            <input type="text" placeholder="Username" name="username" id="username">
        </div>
        <div>
            <input type="password" placeholder="password">
        </div>
        <div>
            <button type="submit" name="submit">Submit</button>
        </div>
    </form>

</section>

<!-----------------------------Login--------------------------------->

<!-------------------Footer--




<section class="footer">
    <h2>About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="icons">

        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <p>Made with <i class="fa fa-heart-o"></i> By : Ammad Bin Jamil</p>
    </div>
</section>

-----------Footer------------------------------------->


<!--------------------------------------JavaScript for Toggle Menu---------------------------------------------->
<!--created new var in JS with same name(navLinks) as the id in HTML-->

<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right ="0";
    }

    function hideMenu(){
        navLinks.style.right ="-200px";
    }

</script>

</body>
</html>