{% extends "layout.html" %}
{% block title %}: Login{% endblock %}


{% block main %}

    <h1>Log In Page</h1>


    <form action="/login" method="post" class="login-form">
        <div> <!--div - input will create username and password box on top-->
            <input autofocus required class="namenpass-box" type="text" placeholder="Username" name="username" id="username">
        </div>
        <div>
            <input required class="namenpass-box" type="password" placeholder="Password" name="password" >
        </div>
        <div>
            <button class="hero-btn submit-btn" type="submit" name="submit">Log In</button>
        </div>
    </form>

</section>

{% endblock %}


<!-----------------------------Login--------------------------------->

<!-------------------Footer--




<section class="footer">
    <h2>About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="icons">

        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <p>Made with <i class="fa fa-heart-o"></i> By : Ammad Bin Jamil</p>
    </div>
</section>

-----------Footer------------------------------------->


<!--------------------------------------JavaScript for Toggle Menu---------------------------------------------->
<!--created new var in JS with same name(navLinks) as the id in HTML-->

