<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/styles2.css" rel="stylesheet">

    <title>Flex</title>

</head>
<body>
  <section class="header">

    <ul class="container">

      <img src="/static/jwh.jpeg" class="logo">
      <li class="items"><a href="https://www.google.com"> Login </a></li>
      <li class="items"><a href="https://www.facebook.com"> Register </a></li>
      <!--<li class="items"><a href="disable"> # </a> </li>-->
      <li class="items"><a href="disable">Gallery </a></li>
      <li class="items"><a href="disable">Careers</a></li>
      <li class="items"><a href="disable">NMP Department</a></li>
      <li class="items"><a href="disable">TDS Department</a></li>
      <li class="items"><a href="disable">Lab Analyst</a></li>
      </ul>

    </ul>

    <div>
      <main>
        <h2 style="text-align:left; margin:1%;">Company's Introduction</h2>

        <h3 style="text-align:left; margin:1%;">CEO Greetings:</h3>
          <p style="text-align:left; margin:1%;">
            Since its foundation in September 1987 at Yeosu Industrial Complex. Jaewon has been involved in petrochemical and electronic material Production which requires high standard distillation technology for value-added production. Also. Jaewon deals with a great variety of the high value petrochemical refining business and industrial grade alternative fuel production using renewable resources. Since Jaewon is equipped with a various capacity of storage tanks. Jaewon is able to offer professional logistics management services safe and fast. and the services include storage. load and unload service. and management of petrochemical products.
            Since its establishment in 1987, Jaewon made a continuous invest in R&D and facility. By doing so. the company completed the foundation of the world leading technology in purification technology of petrochemical and electronic solvent. Jaewon promises to provide the best quality products to our valuable customers in return of sincere support by continuous technology development. strict quality control. and efficient production system. </div>
          </p>
      </main>
    </div>


  </section>


</body>
</html>