<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/styles2.css" rel="stylesheet">

    <title>Flex</title>

</head>
<body>

  <ul class="container">

    <img src="/static/jwh.jpeg" class="logo">
    <li class="items"><a href="https://www.google.com"> Login </a></li>
    <li class="items"><a href="https://www.facebook.com"> Register </a></li>
    <li class="items"><a href="disable"> # </a> </li>

  </ul>

  <div id="dashboard">
    <nav>
      <h4 style="text-align:center;">Navigate to:</h4>
      <ul>
        <li>Gallery</li>
        <li>Careers</li>
        <li>NMP Department</li>
        <li>TDS Department</li>
        <li>Lab Analyst</li>
      </ul>
    </nav>
    <main>
      <h4 style="text-align:center;">Navigate to:</h4></main>
  </div>

</body>
</html>