<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <title>Jaewon Hungary</title>
        <link rel="stylesheet" href="/static/styles3.css">
    </head>
    <body>
        <section class="header">
            <nav>

                <a href="index4.html">
                    <img src="/static/jwh.jpeg">
                </a>
                <div class="nav-links">

                </div>

            </nav>
        </section>
    </body>
</html>