<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/styles2.css" rel="stylesheet">

    <title>Flex</title>

</head>
<body>

  <ul class="container">
    <a href="https://www.google.com">

    </a>
    <img src="/static/jwh.jpeg" class="logo">
    <li class="items"><a href="https://www.google.com"> Login </a></li>
    <li class="items"><a href="https://www.facebook.com"> Register </a></li>
    <li class="items"><a href="disable"> # </a> </li>
  </ul>

  <div id="dashboard">
    <nav>Nav Bar</nav>
    <main>Main Bar</main>
  </div>

</body>
</html>