<!DOCTYPE>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <section id="dashboard">
            <nav>Navig {{ name }}
            </nav>
            <header>
              <h1>JAWEON HUNGARY</h1>
            </header>
            <main>Company's Introduction
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          CEO Greetings
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Since its foundation in September 1987 at Yeosu Industrial Complex. Jaewon has been involved in petrochemical and electronic material Production which requires high standard distillation technology for value-added production. Also. Jaewon deals with a great variety of the high value petrochemical refining business and industrial grade alternative fuel production using renewable resources. Since Jaewon is equipped with a various capacity of storage tanks. Jaewon is able to offer professional logistics management services safe and fast. and the services include storage. load and unload service. and management of petrochemical products.
                          Since its establishment in 1987, Jaewon made a continuous invest in R&D and facility. By doing so. the company completed the foundation of the world leading technology in purification technology of petrochemical and electronic solvent. Jaewon promises to provide the best quality products to our valuable customers in return of sincere support by continuous technology development. strict quality control. and efficient production system. </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Management Philosophy
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Jaewon Industrial Co. Ltd. is taking diligence, creativity and responsibility as the fundamental vision for the company to fulfill corporate social responsibility and harmony of labor and management. Based on this motto. we will become the world best company with world class distillation technology.
                          <p> </p>
                          <ul>
                            <li><h4>Corporate Motto</h4> Diligence, Creativity, Responsibility </li>
                            <li><h4>Management Philosophy</h4> Diligence, Creativity, Responsibility </li>
                          </ul>

                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Lab Analyst Department
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                  </div>
            </main>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>