{% extends "layout.html" %}

{% block title %}<title>Test 2 Page</title>{% endblock %}

{% block main %}


<ul class="container">
  <img class="logo" src="/static/jwh.jpeg" alt="pic1">
  <li class="items"><a href="https://www.google.com">Google</a></li>
    <li class="items"><a href="https://www.facebook.com">Facebook</a></li>
      <li class="items"><a href="https://www.twitter.com">Twitter</a></li>
</ul>

<!--  <section id="dashboard">

    <nav>Nav</nav>
    <header>Header</header>
    <main>Main</main>

  </section>
-->




{% endblock %}